<div id="control-panel">
  <div>
    <div id="search-box">
      <div>
        <input id="search-input" type="text" placeholder="Search...">

      <div id="search-results" hidden="true">
      </div>
      </div>
      <button id="search-button" class="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>

  <button id="coffee-shop-button" class="button"><i class="fa-solid fa-mug-hot"></i>&nbsp;Coffee Shop</button>
  <button id="gas-station-button" class="button"><i class="fa-solid fa-gas-pump"></i>&nbsp;Gas Stations</button>
  <button id="hotel-button" class="button"><i class="fa-solid fa-bed"></i>&nbsp;Hotels</button>
  <button id="restaurant-button" class="button"><i class="fa-solid fa-utensils"></i>&nbsp;Restaurants</button>
  <button id="super-market-button" class="button"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Super Markets</button>
</div>
<app-map></app-map>
